
/* header */

.image-header,
.image-footer {
  width: 100%;
}

.app {
  text-align: center;
}

.content {
  display:block;
  margin: 15px auto;
  background-color: #EBE4D5;
  width: 1200px;
  box-sizing: border-box;
  padding: 40px;
}

.title {
  font-size: 30px;
  color: #333333;
  font-weight: bold;
  font-family: "Yu Gothic";
  padding: 45px 0;
}

.body, .body-two {
  background-color: #FFFFFF;
  padding: 36px;
  margin: 36px 0;
}

/*.inner-body {
  background-color: #fff;
  }*/

  .inner-title {
    /*padding: 41px;*/
    width: 135px;
    color: white;
    background-color: #89695F;
    margin: -55px auto 10px auto;
  }

  .inner-title h4 {
    padding: 10px 0;
    font-size: 18px;
  }

  .other-title {
    margin-top: 59px;
    margin-bottom: 29px; 
    font-size: 24px;
    font-weight: normal;
  }

  .ribbon-tag {
    margin-bottom: 32px;
  }

  .ribbon-tag, 
  .family-tag {
    position: relative;
  }

  .text-ribbon {
    font-size: 34px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .content1 {
    display: flex;
    justify-content: space-between;
  }

  .family-tag img {
    width: 500px;
  }

  .text-family {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 10px;
  }

  .paragraph {
    width: 500px;
    text-align: left;
  }

  .paragraph div p {
    color: #e9767e;
    font-size: 30px;
    line-height: 46px;
    margin: 0;
  }

  .paragraph p {
    color: black;
    font-size: 15px;
    line-height: 30px;
  }

  .body-two-title {
    font-size: 30px;
    color: #df541f;
    font-style: Kozuka Gothic Pr6N;
  }
  
  .content1 > div {
    margin: 10px;
  }

  .content1-title {
    margin-top: -10px;
    font-size: 30px;
    color: black;
    line-height: 46px;
    font-style: Kozuka Gothic Pr6N;
  }

  .content1-paragraph {
    color: black;
    line-height: 30px;
    text-align: left;
  }

  .brown-button {
    font-size: 20px;
    color: white;
    display: block;
    width: 100%;
    background-color: #b3914a;
    padding: 20px;
    border-radius: 15px;
    margin-top: 15px;
  }

  .one {
    width: 480px;
  }

  .content1-paragraph {
    margin-bottom: 40px;
  }

  .body-three {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .three-title {
    font-size: 24px;
    font-family: Kozuka Gothic Pr6N;
    border-radius: 15px;
    background-color: #fff6e3;
    border: solid #845e51 2px;
    margin: 50px;
    width: 500px;
    padding: 20px;
  }

  .three-title p {
    margin: auto;
  }

  .media-title {
    font-family: Kozuka Gothic Pr6N;
    font-size: 24px;
  }

  .social-media,
  .facebook,
  .twitter {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
  }

  .social-media > div {
    margin: 0 20px;
  }

  .facebook {
    color: white;
    border-radius: 15px;
    background-color: #4267B2;
    padding: 20px 90px;
    font-size: 20px;
  }

  .facebook > div,
  .twitter > div {
    margin: 5px;
  }

  .twitter {
    color: white;
    background-color: #1da1f2;
    border-radius: 15px;
    font-size: 20px;
    padding: 20px 90px;
  }

  .copyright-img {
    margin-bottom: 25px;
  }

  .copyright {
    font-size: 15px;
    color: #999999;
    font-family: Kozuka Gothic Pr6N;
  }

  /* Form */

  .form-title {
    font-size: 30px;
    font-style: 'Yu Gothic';
    font-weight: bold;
  }

  .form-desc {
    font-size: 15px;
    font-style: 'Kozuka Gothic Pr6N';
  }

  .form-body {
    background-color: #FFFFFF;
    padding: 36px;
    margin: 36px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-body > img {
    margin: -65px auto 0 auto;
  }

  .form-body-content {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
    background-color: #F8F6F2;
    align-items: center;
    margin-top: 10px;
  }

  .item {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }

  .item > p {
    margin: 0 5px;
  }

  .item-question {
    border-radius: 100px;
    background-color: #6d4d42;
    color: #fff;
    padding: 5px 10px;
    font-family: "NotoSansCJKjp";
  }

  .item-number {
    font-size: 20px;
    color: #6d4d42;
    font-weight: bold;
    font-family: "NotoSansCJKjp";
  }

  .question > p {
    font-family: "Kozuka Gothic Pr6N";
    font-size: 18px;
    margin-top: 20px;
  }

  .answer > button {
    margin: 0 10px;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    background-color: #fff;
    font-family: "Kozuka Gothic Pr6N";
    font-size: 24px;
  }

  .answer-yes {
    color: #e8916e;
    border: 2px solid #e8916e;
  }

  .answer-yes:hover {
    background-color: #ffe2d7;
  }

  .answer-no {
    color: #7ab3e0;
    border: 2px solid #7ab3e0;
  }

  .answer-no:hover {
    background-color: #e3f3ff;
  }

  .email {
   margin-top: 20px;
 }

 .email > span {
  color: red;
}

.website {
  color: #dbdbdb;
  background-color: #f4f4f4;
  border: 2px solid #cccccc;
  border-radius: 5px;
  padding: 20px 225px; 
}

.policy {
  margin-top: 10px;
}

.diagnosis {
  font-family: 'Kozuka Gothic Pr6N';
  font-size: 24px;
  color: #fff;
  background-color: #6d4d42;
  border-radius: 5px;
  padding: 20px 150px; 
  margin: 10px auto 30px auto; 
}

